remote_sudo_user:
  name: admin
  authorized_key: ""

remote_web_user:
  name: wordpress
  authorized_key: ""

domain:
  url: ""
  wp:
    title: ""
    admin_user: ""
    admin_password: ""
    admin_email: ""

# Role variables: geerlingguy.swap
swap_file_size_mb: '2048'
swap_swappiness: '10'

# Role variables: geerlingguy.certbot
certbot_admin_email: "{{ domain.wp.admin_email }}"
certbot_auto_renew_user: root
certbot_create_if_missing: true
certbot_create_standalone_stop_services: []
certbot_create_extra_args: ~
certbot_certs:
  - domains:
    - "{{ domain.url }}"

# Role variables: geerlingguy.nginx
nginx_listen_ipv6: false
nginx_server_tokens: "off"
nginx_remove_default_vhost: true
nginx_vhosts:
  - listen: "443 ssl"
    server_name: "{{ domain.url }}"
    root: "/var/www/{{ domain.url }}"
    index: "index.php index.html index.htm"
    state: "present"
    extra_parameters: |
      http2  on;

      ssl_certificate     /etc/letsencrypt/live/{{ domain.url }}/fullchain.pem;
      ssl_certificate_key /etc/letsencrypt/live/{{ domain.url }}/privkey.pem;
      ssl_protocols       TLSv1.1 TLSv1.2;
      ssl_ciphers         HIGH:!aNULL:!MD5;

      location / {
        try_files $uri $uri/ /index.php?$args;
      }
      location = /favicon.ico {
        log_not_found off;
        access_log off;
      }
      location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        expires max;
        log_not_found off;
      }
      location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
      }
      location ~ \.php$ {
        #include snippets/fastcgi-php.conf;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
      }

# Role variables: geerlingguy.php-versions
php_version: "8.3"

# Role variables: geerlingguy.php
php_enablerepo: "remi"
php_packages_extra:
  - php-mysqlnd
  - php-pecl-zip
php_webserver_daemon: "nginx"
php_enable_php_fpm: true
php_fpm_pool_user: "{{ remote_web_user.name }}"
php_fpm_pool_group: "nginx"
php_fpm_pm_max_children: 20
php_fpm_pm_start_servers: 5
php_fpm_pm_min_spare_servers: 2
php_fpm_pm_max_spare_servers: 10
php_date_timezone: "UTC"
php_upload_max_filesize: "512M"
php_post_max_size: "100M"
php_memory_limit: "512M"
php_max_input_vars: "5000"

# Role variables: geerlingguy.mysql
mysql_enablerepo: "remi"
mysql_bind_address: '127.0.0.1'
mysql_root_password: ~
mysql_root_password_update: true
mysql_user_password_update: true
mysql_databases:
- name: wordpress
  encoding: utf8mb4
  collation: utf8mb4_general_ci
mysql_users:
- name: wp_admin
  host: "localhost"
  password: ~
  priv: "wordpress.*:ALL"

# Memory optimizations for ~2GB of RAM
mysql_key_buffer_size: "32M"
mysql_max_allowed_packet: "64M"
mysql_table_open_cache: "1024"
mysql_sort_buffer_size: "2M"
mysql_read_buffer_size: "1M"
mysql_read_rnd_buffer_size: "2M"
mysql_myisam_sort_buffer_size: "8M"
# mysql_thread_cache_size: "16"
# mysql_query_cache_type: "0"
# mysql_query_cache_size: "0"
mysql_max_connections: "75"
mysql_tmp_table_size: "32M"
mysql_max_heap_table_size: "32M"
mysql_group_concat_max_len: "2048"
mysql_join_buffer_size: "1M"

mysql_innodb_file_per_table: "1"
mysql_innodb_buffer_pool_size: "1024M"
mysql_innodb_log_file_size: "256M"
mysql_innodb_log_buffer_size: "16M"
mysql_innodb_flush_log_at_trx_commit: "2"
mysql_innodb_lock_wait_timeout: "50"
